<div class="main-content">
  <div class="main-title"></div>
  <h1 class="main-text">
    Neiramdal — Ваш партнер <br />
    в мире цифровых технологий!
  </h1>
  <button class="main-button hover" id="button-contacts"> Связаться </button>
</div>
<script>
  const text = "Neiramdakl"; 
  const speed = 100; 
  const delay = 2500;
  let i = 0;

  function typeEffect() {
    if (text.charAt(i) == "l") {
      setTimeout(() => {
        document.getElementsByClassName("main-title")[0].innerHTML = document.getElementsByClassName("main-title")[0].innerHTML.slice(0, -1);
      }, 500);
      
      setTimeout(() => {
        document.getElementsByClassName("main-title")[0].innerHTML += "l";
      }, 1000);

      return;
    }
    if (i < text.length) {
      document.getElementsByClassName("main-title")[0].innerHTML +=
        text.charAt(i);
      i++;
      setTimeout(typeEffect, speed);
    }
  }

  window.onload = () => {
    setTimeout(() => {
      typeEffect();
    }, delay);
  };
</script>

<style>
  .main-title:after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 5px;
    background: #f5f5f5;
    margin-left: 5px;
    animation: blink 0.6s infinite alternate;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    51% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .main-content {
    margin-top: 250px;
  }

  .main-title {
    color: #f5f5f5;
    font-weight: bold;
    font-size: 64px;
    margin-bottom: 30px;
  }

  .main-text {
    color: #f5f5f5;
    font-size: 20px;
    margin-bottom: 47px;
    line-height: 130%;
    font-weight: 100;
  }

  .main-button {
    position: relative;
    border: 1px solid #f5f5f5;
    background-color: transparent;
    color: #f5f5f5;
    font-size: 20px;
    width: 188px;
    height: 50px;
    font-weight: bold;
    border-radius: 19px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition:
      color 0.3s ease,
      border-color 0.3s,
      border 0.3s ease,
      transform 0.5s;
  }

  .main-button::after {
    content: "";
    position: absolute;
    bottom: -388px;
    left: -100px;
    width: 388px;
    height: 388px;
    background-color: #f5f5f5;
    border-radius: 100%;
    overflow: hidden;
    transition: all 0.5s;
    z-index: -1;
  }

  .main-button:hover::after {
    bottom: -320px;
  }

  .main-button:hover {
    cursor: none;
    color: #050505;
    border-color: #050505;
    transform: scale(1.1);
  }

  .main-button:active {
    color: #7855ed;
    border: 1px solid #7855ed;
    transform: scale(0.9);
  }
</style>
