---
import Carousel from "../components/carousel.astro";
---

<div class="our-works">
  <div class="our-works-title reveal-type">Наши работы</div>
  <Carousel />
</div>

<script>
  import Lenis from "lenis";

  import "lenis/dist/lenis.css";
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import SplitType from "split-type";
  gsap.registerPlugin(ScrollTrigger);

  const splitTypes = document.querySelectorAll(".reveal-type");

  splitTypes.forEach((char, i) => {
    const bg = "transparent";
    const fg = "#f5f5f5";

    const text = new SplitType(char as HTMLElement, { types: "chars" });

    gsap.fromTo(
      text.chars,
      { color: bg },
      {
        color: fg,
        duration: 0.5,
        stagger: 0.02,
        scrollTrigger: {
          trigger: char,
          start: "top 90%",
          end: "top 70%",
          scrub: true,
          markers: false,
          onLeaveBack: () => gsap.to(text.chars, { color: bg, duration: 0.5 }),
        },
      }
    );
  });

  const lenis = new Lenis();

  function raf(time) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);
</script>

<style>
  .our-works-title {
    font-size: 40px;
    text-align: center;
  }
</style>
