---
import Carousel from "../components/carousel.astro";
---

<div class="our-works">
  <div class="our-works-title">Наши работы</div>
  <Carousel />
</div>

<style>
  .our-works-title {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
</style>
