---
import Carousel from "../components/carousel.astro";
---

<div class="our-works">
  <h2 class="our-works-title reveal-type">Наши работы</h2>
  <Carousel />
</div>



<style>
  .our-works-title {
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 80px;
    text-align: center;
  }
</style>
