<div id="who-title" class="reveal-type">/Кто мы?</div>

<p class="reveal-type">
  Neiramdal — команда молодых профессионалов. Мы<br />специализируемся на
  разработке программного<br />обеспечения, кроссплатформенных приложений и<br
  />интеллектуальных чат-ботов.
</p>
<div class="who-content1 reveal-type">
  Команда Neiramdal создаёт и внедряет инновационные<br />продукты, которые
  позволят Вашему бизнесу всегда быть<br />на шаг впереди конкурентов!
</div>



<style>
  #who-title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .who-content1 {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 140%;
  }

  p {
    color: transparent;
    transition: color 1.5s;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 140%;
  }
</style>
