<div class="who generalMargin60">
  <h2>Кто мы</h2>
  <p class="m_15">
    Neiramdal — команда молодых <br />
    профессионалов. Мы специализируемся <br />
    на разработке программного обеспечения, <br />
    кроссплатформенных приложений <br />
    и интеллектуальных чат-ботов.
  </p>
  <p>
    Команда Neiramdal создаёт и внедряет <br />
    инновационные продукты, которые позволят <br />
    Вашему бизнесу всегда быть на шаг впереди <br />
    конкурентов!
  </p>
</div>

<style>
  .who {
    padding-top: 30px;
  }

  .m_15 {
    margin-bottom: 15px;
  }
  
  .generalMargin60 {
    margin-bottom: 60px;
  }
</style>
