---
import MainHeader from "../components/main-header.astro";
import MainContent from "../components/main-content.astro";
import "../styles/global.css";
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="assets/images/white_logo.svg"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Neiramdal</title>
  </head>
  <body>
    <main class="main">
      <MainHeader />
      <div class="container">
        <video autoplay muted loop id="background-video" height="700px">
          <source src="assets/videos/intro.mp4" type="video/mp4" />
        </video>

        <MainContent />
      </div>
    </main>
    <div class="who">
      <div class="container">
        <div class="who-title">/Кто мы?</div>
        <div class="who-content1"></div>
        <div class="who-content1"></div>
        <div class="who-title"></div>
      </div>
    </div>
    <script>
      import "../scripts/main.js";
    </script>
  </body>
</html>

<style>
  #background-video {
    position: absolute;
    bottom: -200px;
    right: 0px;
    object-fit: cover;
    z-index: -1;
  }

  .who-title {
    font-size: 36px;
    color: #fff;
    padding-top: 197px;
  }

  .who {
    position: sticky;
    height: 4155px;
    z-index: 2;
    justify-items: center;
    padding-right: 70px;
    padding-left: 70px;
  }

  .main {
    height: 750px;
    top: 0;
    position: sticky;
    justify-items: center;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 5vh;
    z-index: 1;
    overflow: hidden;
  }
</style>
