<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="assets/images/white_logo.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
        href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap"
        rel="stylesheet"
        />
        <title>Neiramdal</title>
    </head>

    <body>
        <header>
            <img src="assets/images/logo.svg" alt="LOGONeiramdal">
            <img src="./public/assets/images/menu" alt="menu">
        </header>
        <main>

            <div class="MainInf">
                <h1>Neiramdal</h1>
                <p>Neiramdal — Ваш партнер <br />
                    в мире цифровых технологий!</p>
                <button  type="button">Заказать</button>
            </div>

            <div class="who">
                <p>Кто мы</p>
                <p>Neiramdal — команда молодых <br />
                профессионалов. Мы специализируемся <br />
                на разработке программного обеспечения, <br />
                кроссплатформенных приложений <br />
                и интеллектуальных чат-ботов. </p>
                <p>Команда Neiramdal создаёт и внедряет <br />
                инновационные продукты, которые позволят <br />
                Вашему бизнесу всегда быть на шаг впереди <br />
                конкурентов!</p>
            </div>
            
            <div class="whoEnd">
                <p>Почему именно мы?</p>
                <div class="WhoCard1">
                    <p id="card1">Индивидуальный подход</p>
                    <p>Анализируем бизнес и разрабатываем <br />
                        продукт, соответствующий Вашим целям</p>
                </div>
                <div class="WhoCard2">
                    <p id="card2">Соответствие мировым стандартам</p>
                    <p>В нашем арсенале только передовые <br />
                        инструменты и фреймворки, необходимые <br />
                        для надежных и адаптируемых решений</p>
                </div>
                <div class="WhoCard3">
                    <p id="card3">Гарантия результата</p>
                    <p>Наши проекты проходят тщательное <br /> 
                        тестирование на каждом этапе, <br /> 
                        что обеспечивает уверенность <br /> 
                        в конечном продукте</p>
                </div>
                <div class="WhoCard4">
                    <p id="card4">Комплексная поддержка
                        на каждом этапе</p>
                    <p>Сопровождаем проекты и после их запуска, <br /> 
                        помогая адаптироваться к <br />
                        быстро меняющимся потребностям бизнеса</p>
                </div>
            </div>

            

            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>

<style>
    
</style>