---
import WorksHeader from "../components/works/works-header.astro";
import "../styles/global.css";
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="assets/images/white_logo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Работы</title>
  </head>
  <body>
    <div class="overlay active">
      <div class="overplay-white"></div>
    </div>
    <main id="works">
      <WorksHeader />
      <div class="container">
        <div class="center">
          <video
            id="background-video"
            autoplay
            muted
            loop
            height="700"
            width="700"
          >
            <source src="/assets/videos/intro.mp4" />
          </video>
        </div>
      </div>
    </main>
    <script>
      import "../scripts/cursorForWorks.js";
      import "../scripts/overlayForWorks.js";
      window.addEventListener("load", () => {
        const overlay = document.querySelector(".overlay");
        setTimeout(() => {
          if (overlay) overlay.classList.remove("active");
        }, 100);
      });
      window.addEventListener("pageshow", function (event) {
        const overlay = document.querySelector(".overlay");
        if (overlay) {
          overlay.classList.remove("active");
        }
      });
    </script>
  </body>
</html>

<style>
  .overplay-white {
    top: 0;
    background-color: #241064;
    width: 100%;
    height: 100vh;
  }

  .overlay {
    position: fixed;
    bottom: 200vh;
    left: 0;
    width: 100%;
    height: 200vh;
    background-color: #040404;
    transition: bottom 1.6s ease-in-out;
    z-index: 9999;
  }

  .overlay.active {
    bottom: -100vh;
  }
  #works {
    width: calc(100% - 140px);
    height: 750px;
    min-height: 630px;
    top: 0;
    position: sticky;
    justify-items: center;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
    z-index: 1;
    overflow: hidden;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
</style>
