<div id="carousel-container">
  <div class="carousel-track" id="carousel">
    <div class="carousel-item">
      <img src="/assets/images/logo.svg" alt="Работа 1" draggable="false"/>
      <button class="more_buttons hover">Узнать больше</button>
    </div>
    <div class="carousel-item">
      <img src="/assets/images/logo.svg" alt="Работа 2" draggable="false"/>
      <button class="more_buttons hover">Узнать больше</button>
    </div>
    <div class="carousel-item">
      <img src="/assets/images/logo.svg" alt="Работа 3" draggable="false"/>
      <button class="more_buttons hover">Узнать больше</button>
    </div>
    <div class="carousel-item">
      <img src="/assets/images/logo.svg" alt="Работа 4" draggable="false"/>
      <button class="more_buttons hover">Узнать больше</button>
    </div>
    <div class="carousel-item">
      <img src="/assets/images/logo.svg" alt="Работа 5" draggable="false"/>
      <button class="more_buttons hover">Узнать больше</button> 
    </div>
  </div>
</div>
<div class="carousel-controls">
  <button id="prev" class="arrow_buttons hover" disabled="true">
    <div class="svg_wrapper">
      <img src="/assets/images/Arrow 1.svg" width="36px" draggable="false"/>
    </div>
  </button>
  <div class="progress-bar"><div id="progress" class="progress"></div></div>
  <button id="next" class="arrow_buttons hover">
    <div class="svg_wrapper">
      <img src="/assets/images/Arrow 2.svg" width="36px" draggable="false"/>
    </div>
    
  </button>
</div>
<script>
  import "../../../scripts/carousel";
</script>

<style>
  #carousel {
    transition: all 0.5s;
  }
  #carousel-container {
    overflow: hidden;
  }
  .carousel-track {
    display: flex;
    gap: 75px;
    transform: translateX(calc(50% - 150px));
    transition: transform 0.3s ease-in-out;
  }

  .carousel-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
  }
  .carousel-item img {
    height: 300px;
    width: 300px;
    max-width: 100%;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 27px;
  }
  .carousel-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .progress-bar {
    width: 50%;
    height: 5px;
    background: #5b5b5b;
    border-radius: 20px;
    position: relative;
    margin: 0 24px;
  }

  .progress {
    height: 5px;
    border-radius: 20px;
    background: #f5f5f5;
    width: 0%;
    transition: width 0.3s;
  }

  .more_buttons {
    height: 50px;
    width: 300px;
    background: none;
    font-size: 16px;
    border: 1px solid #f5f5f5;
    color: #f5f5f5;
    border-radius: 20px;
    overflow: hidden;
    font-family: "Play", serif;
    position: relative;
    margin-bottom: 10px;
  }

  .more_buttons::after {
    content: "";
    position: absolute;
    bottom: -400px;
    left: -46px;
    width: 400px;
    height: 400px;
    background-color: #f5f5f5;
    border-radius: 100%;
    overflow: hidden;
    transition: all 0.7s;
    z-index: -1;
  }

  .more_buttons:hover::after {
    bottom: -260px;
  }

  .more_buttons:hover {
    cursor: none;
    color: #050505;
    border-color: #050505;
  }

  .more_buttons:active {
    color: #7855ed;
    border: 1px solid #7855ed;
  }

  .arrow_buttons {
    height: 32px;
    width: 64px;
    background: none;
    font-size: 16px;
    border: 1px solid #f5f5f5;
    color: #f5f5f5;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }

  .arrow_buttons::after {
    content: "";
    position: absolute;
    bottom: -202px;
    left: -65px;
    width: 200px;
    height: 200px;
    background-color: #f5f5f5;
    border-radius: 100%;
    overflow: hidden;
    transition: all 0.7s;
    z-index: -1;
  }

  .arrow_buttons:hover::after {
    bottom: -160px;
  }

  .svg_wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .arrow_buttons:hover .svg_wrapper {
    mix-blend-mode: difference;
  }

  .arrow_buttons:hover {
    cursor: none;
    color: #050505;
    border-color: #050505;
  }

  .arrow_buttons:hover:disabled .svg_wrapper {
    mix-blend-mode: normal;
  }

  .arrow_buttons:disabled {
    border: none;
    background: #5b5b5b;
  }

  .arrow_buttons:active {
    color: #7855ed;
    border: 1px solid #7855ed;
  }
</style>
