<div id="footer">
  <div class="row1">
    <div class="number">+7 (924) 569-92-99</div>
    <div class="mail">neiramdal@mail.ru</div>
  </div>
  <div class="row2">
    <div class="col">
      <div class="title">соцсети</div>
      <div class="text">telegram</div>
      <div class="text">whatsapp</div>
      <div class="text">behance</div>
    </div>
    <div class="col">
      <div class="title">сайт</div>
      <div class="text">главная</div>
      <div class="text">работы</div>
      <div class="text">форма</div>
    </div>
  </div>
  <div class="copyright">©2024, Neiramdal Company</div>
</div>

<style>
  #footer .title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  #footer .text {
    margin-bottom: 15px;
  }

  #footer .row2 {
    display: flex;
    justify-content: space-between;
    width: 400px;
    font-size: 16px;
  }

  #footer .copyright {
    width: 100%;
    text-align: end;
    padding-right: 40px;
    font-size: 20px;
  }

  #footer .row1 {
    margin-bottom: 85px;
    display: flex;
    font-size: 24px;
    width: 100%;
    justify-content: space-between;
  }

  #footer {
    font-weight: normal;
    padding-top: 60px;
    padding-left: 70px;
    padding-right: 70px;
    width: 100%;
    max-width: 1440px;
    height: 400px;
    z-index: 6;
    background-color: #070707;
    color: #5b5b5b;
    position: relative;
  }
</style>
