
<div class="content">
    <div class="title">
        Готовы реализовать<br />проект вместе с нами?
      </div>
      <div class="subtitle">Заполните заявку на сайте!</div>
</div>
<button class="button hover"> Оставить заявку </button>

<style>
  .title {
    font-size: 40px;
    font-weight: bold;
  }
  .subtitle {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 80px;
  }

  .button {
    font-family: "Play", serif;
    position: relative;
    border: 1px solid #f5f5f5;
    background-color: transparent;
    color: #f5f5f5;
    font-size: 20px;
    width: 300px;
    height: 70px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition:
      color 0.3s ease,
      border-color 0.3s,
      border 0.3s ease;
  }
  
  .button::after {
    content: "";
    position: absolute;
    bottom: -400px;
    left: -46px;
    width: 400px;
    height: 400px;
    background-color: #f5f5f5;
    border-radius: 100%;
    overflow: hidden;
    transition: all 0.5s;
    z-index: -1;
  }

  .button:hover::after {
    bottom: -260px;
  }

  .button:hover {
    cursor: none;
    color: #050505;
    border-color: #050505;
  }

  .button:active {
    color: #7855ed;
    border: 1px solid #7855ed;
  }
</style>
