<div id="island-hover">
  <div id="island-hover-hidden">

  </div>
  <div id="island">
    <div class="header-logo-a main-animation" id="island-logo">
      <img
        alt="Neiramdal logo"
        class="header-logo"
        src="assets/images/logo.svg"
        width="102"
        height="56"
      />
      <img
        alt="Neiramdal logo"
        class="header-logo-hover"
        src="assets/images/logo-hover.svg"
        width="102"
        height="56"
      />
    </div>
    <div class="button-container">
      <div id="nav-who-we-are" class="nav">Кто мы</div>
      <div id="nav-skills" class="nav">Навыки</div>
      <div id="nav-projects" class="nav">Проекты</div>
      <div id="nav-contacts" class="nav">Контакты</div>
    </div>
  </div>
</div>


<style>
  #island-hover-hidden {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 1440px;
    min-width: 800px;
    z-index: 9999;
    width: calc(80% + 40px);
    height: 30px;
    background-color: transparent;
    z-index: 9998;
  }
  .nav {
    font-size: 16px;
    color: #f5f5f5;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: solid 0.5px #f5f5f5;
    border-radius: 20px;
    transition: all 0.3s ease;
  }

  .nav:hover {
    background-color: #f5f5f5;
    color: #0b0b0b;
    border: #0b0b0b solid 0.5px;
  }

  .button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  #island {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9999;
    max-width: 1440px;
    min-width: 800px;
    width: 80%;
    height: 80px;
    background-color: rgba(22, 22, 22, 0.55);
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    justify-content: space-between;
    backdrop-filter: blur(30px);
    opacity: 0;
    transition: top 0.3s;
  }

  .header-logo,
  .header-logo-hover {
    transition: opacity 0.3s ease;
    top: 0;
    position: absolute;
    transform: translate(0, -50%);
  }

  .header-logo {
    opacity: 1;
  }

  .header-logo-hover {
    opacity: 0;
  }

  .header-logo-a:hover .header-logo {
    opacity: 0;
  }

  .header-logo-a:hover .header-logo-hover {
    opacity: 1;
  }
</style>
