<div class="main-content">
  <div class="main-title">Neiramdal</div>
  <div class="main-text">
    Neiramdal — Ваш партнер<br />
    в мире цифровых технологий!
  </div>
  <button class="main-button"> Заказать </button>
</div>

<style>
  .main-content {
    margin-top: 150px;
  }

  .main-title {
    color: #f5f5f5;
    font-weight: bold;
    font-size: 64px;
    margin-bottom: 30px;
  }

  .main-text {
    color: #f5f5f5;
    font-size: 20px;
    margin-bottom: 47px;
    line-height: 130%;
    font-weight: 100;
  }

  .main-button {

    position: relative;
    border: 1px solid #f5f5f5;
    background-color: transparent;
    color: #f5f5f5;
    font-size: 20px;
    width: 188px;
    height: 50px;
    font-weight: bold;
    border-radius: 19px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition:
      color 0.3s ease,
      border-color 0.3s,
      border 0.3s ease;
  }

  .main-button::after {
    content: "";
    position: absolute;
    bottom: -388px;
    left: -100px;
    width: 388px;
    height: 388px;
    background-color: #f5f5f5;
    border-radius: 100%;
    overflow: hidden;
    transition: all 0.5s;
    z-index: -1;
  }

  .main-button:hover::after {
    bottom: -320px;
  }

  .main-button:hover {
    color: #050505;
    border-color: #050505;
  }

  .main-button:active {
    color: #7855ed;
    border: 1px solid #7855ed;
  }
</style>
