<div class="container">
  <div class="skills-title">Что мы умеем?</div>
  <div class="skills-parts">
    <div class="skills-part">Мобильная разработка</div>
    <div class="skills-part">Разработка десктопных приложений</div>
    <div class="skills-part">Веб-разработка</div>
  </div>
</div>

<style>
  .skills-parts {
    font-size: 24px;
    border-top: #f5f5f5 1px solid;
  }

  .skills-part {
    padding-left: 60px;
    padding-top: 65px;
    padding-bottom: 65px;
    border-bottom: #f5f5f5 1px solid;
  }

  .skills-title {
    font-size: 36px;
    margin-bottom: 80px;
  }
</style>
