<div class="who-title" id="who-title2">/Почему именно мы?</div>
<div class="row">
  <div class="column-one">
    <div class="card">
      <div class="card-title" id="card-one">Индивидуальный <br />подход</div>
      <div class="card-content">
        Анализируем бизнес и разрабатываем продукт,<br />соответствующий Вашим
        целям
      </div>
    </div>
    <div class="card">
      <div class="card-title" id="card-two">Гарантия<br />результата</div>
      <div class="card-content">
        Наши проекты проходят тщательное <br /> тестирование на каждом этапе, что
        обеспечивает
        <br /> уверенность в конечном продукте
      </div>
    </div>
  </div>
  <div class="column-two">
    <div class="card">
      <div class="card-title" id="card-three">
        Соответствие<br />мировым стандартам
      </div>
      <div class="card-content">
        В нашем арсенале только передовые <br /> инструменты и фреймворки, необходимые
        для <br /> надежных и адаптируемых решений
      </div>
    </div>
    
    <div class="card">
      <div class="card-title" id="card-four">
        Комплексная поддержка<br />на каждом этапе
      </div>
      <div class="card-content">
        Сопровождаем проекты и после их запуска, <br /> помогая адаптироваться к
        быстро меняющимся <br /> потребностям бизнеса
      </div>
    </div>
  </div>
</div>

<style>
  .who-title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .column-one {
    width: 100%;
    margin-right: 40px;
  }

  .column-two {
    width: 100%;
    padding-bottom: 200px;
  }

  .card {
    height: 160px;
    width: auto;
    padding: 30px;
    border-radius: 20px;
    color: #5b5b5b;
    background: #0b0b0b;
    margin-bottom: 44px;
  }

  .card:hover {
    color: #f5f5f5;
  }

  @keyframes moveGradient {
    0% {
      background-position: 0% center;
    }
    100% {
      background-position: 200% center;
    }
  }

  .card:hover #card-one {
    background-image: linear-gradient(90deg, #7855ed, #a655ed, #7855ed);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: moveGradient 5s linear infinite;
  }

  .card:hover #card-two {
    background-image: linear-gradient(90deg, #440cff, #7855ed, #440cff);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: moveGradient 5s linear infinite;
  }

  .card:hover #card-three {
    background-image: linear-gradient(90deg, #7855ed, #0c7dff, #7855ed);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: moveGradient 5s linear infinite;
  }

  .card:hover #card-four {
    background-image: linear-gradient(90deg, #2a68b8, #7dd8ff, #2a68b8);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: moveGradient 5s linear infinite;
  }

  .card-title {
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 15px;
    line-height: 110%;
  }

  .card-content {
    font-size: 20px;
    line-height: 130%;
    transition: all 0.5s;
  }

  #who-title2 {
    padding-top: 50px;
    color: #5b5b5b;
    transition: color 0.5s ease;
  }
</style>
