<div id="who-title">/Кто мы?</div>
<div class="who-content1">
  Neiramdal — команда молодых профессионалов. Мы <br> специализируемся на разработке
  программного <br>обеспечения, кроссплатформенных приложений и <br> интеллектуальных
  чат-ботов
</div>
<div class="who-content1">
  Команда Neiramdal создаёт и внедряет инновационные <br> продукты, которые позволят
  Вашему бизнесу всегда быть <br> на шаг впереди конкурентов!
</div>

<style>
  #who-title {
    color: #5B5B5B;
    transition: color 1s ;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .who-content1 {
    color: #5B5B5B;
    transition: color 1.5s;
    font-size: 20px;
    width: 45vw;
    margin-bottom: 20px;
    line-height: 140%;
  }
</style>
